= render '/application/mailer_doctype'
%html
  %p= t("email.user_added_to_discussion.content", who: @inviter.name)
  %p= @message_body
  %p
    = t(:"invitation.discussion_link")
    = link_to discussion_url(@discussion), discussion_url(@discussion)
