= render '/application/mailer_doctype'
%html
  %p= t("email.user_added_to_discussion.content", which_discussion: @discussion.title, who: @inviter.name)
  %p= @message_body

  %p
    = t(:"invitation.discussion_link")
    = link_to @discussion.title, invitation_url(@invitation)